[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jedi = "*"
pylint = "*"
markdown = "*"

[packages]
django = "===3.0.7"
djangorestframework = "*"
django-filter = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"

[requires]
python_version = "3.8"
